@tailwind base;
@tailwind components;
@tailwind utilities;

.section-break {
    border: none;
    border-top: 3px solid #D3D3D3; /* Adjust thickness and color as needed */
    margin: 50px 0; /* Adjust as needed */
}

.list-section-break {
    border: none;
    border-top: 3px solid #D5D5D5;
    margin: 20px auto;
    width: 80%;
}

.card {
    display: inline-block; 
    border: 3px solid #D4D4D4; 
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.5); 
    padding: 30px; 
    margin: 15px;
    border-radius: 10px;
}

.recommendation-card {
    display: inline-block;
    border: 2px solid #D3D3D3;
    height: 20vh;
    width: 23vw;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}